<header>
    <div class="header-content">
        <h1>{{title}}</h1>
        <img src="/images/weather.png">
    </div>
    <a href="/"> Weather</a>
    <a href="/about">About</a>
    <a href="/help">Help</a>
</header>